# Restaurants San Antonio

In [7]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path 

# File to Load
file_path = Path("Restaurants_SanAntonio.csv")

# Read Restaurant Data File and store into Pandas DataFrame
restaurants_df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
restaurants_df.head()

,id,position,name,score,ratings,category,price_range,lat,lng,address,city,state,zip_code
0,34517,6,Fiesta Liquor #3,3.0,NaN,"African, Ethiopian, Vegetarian, Alcohol, Liquo...",$,29.574320,-98.515210,14415 Blanco Road,San Antonio,TX,78248.0
1,34518,5,Squeezers Juice Bar,5.0,11.0,"Black-owned, Juice and Smoothies, African, Hea...",NaN,29.441000,-98.485470,914 East Elmira Street,San Antonio,TX,78212.0
2,34520,76,Spinster Sisters Co. (427 Lombrano St),NaN,NaN,"Home &amp; Personal Care, Everyday Essentials,...",$,29.441910,-98.510550,427 Lombrano St,San Antonio,TX,78207.0
3,34521,194,Yaya's Thai Fusion,NaN,NaN,"Thai, Asian, Noodles",$,29.480652,-98.607908,5819 Northwest Loop 410,San Antonio,TX,78238.0
4,34522,192,Willie's Grill &amp; Icehouse (7911 Interstate),4.5,92.0,"American, Burgers, Family Friendly, Wings, Alc...",$,29.350066,-98.537672,7911 Interstate 35 Access Rd,San Antonio,TX,78224.0

In [8]:
restaurants_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1215 entries, 0 to 1214
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           1215 non-null   int64
 1   position     1215 non-null   int64
 2   name         1215 non-null   object
 3   score        672 non-null    float64
 4   ratings      671 non-null    float64
 5   category     1214 non-null   object
 6   price_range  955 non-null    object
 7   lat          1215 non-null   float64
 8   lng          1215 non-null   float64
 9   address      1215 non-null   object
 10  city         1215 non-null   object
 11  state        1215 non-null   object
 12  zip_code     1214 non-null   float64
dtypes: float64(5), int64(2), object(6)
memory usage: 123.5+ KB

In [9]:
# Check which columns have NaN values and how many NaN values are present in each column
nan_counts = restaurants_df.isnull().sum()

# Display the count of NaN values in each column
print(nan_counts)

id               0
position         0
name             0
score          543
ratings        544
category         1
price_range    260
lat              0
lng              0
address          0
city             0
state            0
zip_code         1
dtype: int64

In [10]:
# Removing rows with NaN values and storing the result in a new DataFrame
restaurants_df_cleaned = restaurants_df.dropna()

# Display the first few rows of the cleaned DataFrame
restaurants_df_cleaned.head()

,id,position,name,score,ratings,category,price_range,lat,lng,address,city,state,zip_code
4,34522,192,Willie's Grill &amp; Icehouse (7911 Interstate),4.5,92.0,"American, Burgers, Family Friendly, Wings, Alc...",$,29.350066,-98.537672,7911 Interstate 35 Access Rd,San Antonio,TX,78224.0
8,34527,190,McDonald's¬Æ (1643 Pleasanton Road),4.2,167.0,"American, Fast Food, Burgers",$,29.366126,-98.504588,1643 Pleasanton Rd,San Antonio,TX,78221.0
25,34547,215,The Philly Cheesesteak Company (1011 N Loop 16...,3.9,41.0,"American, Sandwiches, Desserts",$,29.611140,-98.477810,1011 N Loop 1604 E,San Antonio,TX,78232.0
28,34551,171,Zito's Delicatessen &amp; Sandwich Shop (8800 ...,4.8,11.0,"Sandwiches, American, Healthy",$$,29.520260,-98.460730,8800 Broadway St,San Antonio,TX,78217.0
29,34552,160,"Nachos Muchachos (427 Lombrano St,)",3.2,33.0,"American, Mexican, Snacks",$$,29.441910,-98.510550,427 Lombrano St,San Antonio,TX,78207.0

In [11]:
restaurants_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 558 entries, 4 to 1214
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           558 non-null    int64
 1   position     558 non-null    int64
 2   name         558 non-null    object
 3   score        558 non-null    float64
 4   ratings      558 non-null    float64
 5   category     558 non-null    object
 6   price_range  558 non-null    object
 7   lat          558 non-null    float64
 8   lng          558 non-null    float64
 9   address      558 non-null    object
 10  city         558 non-null    object
 11  state        558 non-null    object
 12  zip_code     558 non-null    float64
dtypes: float64(5), int64(2), object(6)
memory usage: 61.0+ KB

In [12]:
#Saving the file
restaurants_df_cleaned.to_csv("Output/restaurants_df", index=False, header=True)